1. 넘파이를 사용하여 다음과 같은 행렬을 만드시오.
10 20 30 40
50 60 70 80

In [1]:
import numpy as np

In [5]:
a = np.array([[10,20,30,40],[50,60,70,80]])
a

array([[10, 20, 30, 40],
       [50, 60, 70, 80]])

2. 다음 행렬과 같은 행렬이 있다.
m = np.array([[ 0, 1, 2, 3, 4],
              [ 5, 6, 7, 8, 9],
              [10, 11, 12, 13, 14]])
1) 이 행렬에서 값 7 을 인덱싱한다.
2) 이 행렬에서 값 14 을 인덱싱한다.
3) 이 행렬에서 배열 [6, 7] 을 슬라이싱한다.
4) 이 행렬에서 배열 [7, 12] 을 슬라이싱한다.
5) 이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.

In [8]:
m = np.array([[ 0, 1, 2, 3, 4],
              [ 5, 6, 7, 8, 9],
              [10, 11, 12, 13, 14]])

In [9]:
#2-1
m[1,2]

7

In [10]:
#2-2
m[-1,-1]

14

In [13]:
#2-3
m[1, 1:3]

array([6, 7])

In [14]:
#2-4
m[1:, 2]

array([ 7, 12])

In [19]:
#2-5
m[:2, 3:]

array([[3, 4],
       [8, 9]])

3. 2번의 행렬 m을 1차원 벡터 f 로 변환한 후 다음의 문제를 푸시오.
1) 이 배열에서 3의 배수를 찾아라.
2) 이 배열에서 4로 나누면 1이 남는 수를 찾아라.
3) 이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.

In [54]:
#3
m.reshape(-1,)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [86]:
#3-1
a = m[m%3==0]
a

array([ 0,  3,  6,  9, 12])

In [74]:
#3-2
b = m[m%4==1]
b

array([ 1,  5,  9, 13])

In [90]:
#3-3
c = np.logical_and(m%3==0, m%4==1)
m[c]

array([9])

4. 값을 직접 입력하지 말고
우측의 행렬을 만드시오.

2, 1, 0, 0, 0
3, 2, 1, 0, 0
0, 3, 2, 1, 0
0, 0, 3, 2, 1
0, 0, 0, 3, 2

In [101]:
np.identity(5, dtype=np.int32)*2 + np.eye(5, 5, k=1, dtype=int) +np.eye(5, 5, k=-1, dtype=int)*3

array([[2, 1, 0, 0, 0],
       [3, 2, 1, 0, 0],
       [0, 3, 2, 1, 0],
       [0, 0, 3, 2, 1],
       [0, 0, 0, 3, 2]])

5. 0에서 10까지 랜덤 실수값으로 이루어진 5 x 6 형태의 데이터 행렬을 만들고 이 데이터에
대해 다음과 같은 값을 구하시오.
1) 전체의 최댓값
2) 각 행의 합
3) 각 행의 최댓값
4) 각 열의 평균
5) 각 열의 최솟값

In [115]:
a = np.random.randint(0, 11, 30).reshape(5,6)
a

array([[ 3,  9,  0,  6,  6, 10],
       [10,  6,  4,  1,  7,  4],
       [ 9,  1,  3,  6,  2,  1],
       [ 9,  9,  6,  7,  8, 10],
       [ 2,  6,  0,  9,  6,  9]])

In [117]:
np.array(a, dtype=np.float32)

array([[ 3.,  9.,  0.,  6.,  6., 10.],
       [10.,  6.,  4.,  1.,  7.,  4.],
       [ 9.,  1.,  3.,  6.,  2.,  1.],
       [ 9.,  9.,  6.,  7.,  8., 10.],
       [ 2.,  6.,  0.,  9.,  6.,  9.]], dtype=float32)

In [121]:
#5-1 전체의 최댓값
a.max()

10

In [123]:
#5-2 각 행의 합
a.sum(axis=1)

array([34, 32, 22, 49, 32])

In [118]:
#5-3 각 행의 최댓값
a.max(axis=1)

array([10, 10,  9, 10,  9])

In [124]:
#5-4 각 열의 평균
a.mean(axis=0)

array([6.6, 6.2, 2.6, 5.8, 5.8, 6.8])

In [125]:
#5-5 각 열의 최솟값
a.min(axis=0)

array([2, 1, 0, 1, 2, 1])

6. 다음 배열은 첫번째 행(row)에 학번, 두번째 행에 영어 성적, 세번째 행에 수학 성적을 적은
배열이다. 영어 성적을 기준으로 각 열(column)을 재정렬하시오.
array([[ 1, 2, 3, 4],
       [ 46, 99, 100, 71],
       [ 81, 59, 90, 100]])

In [183]:
a = np.array([[1,2,3,4],[46,99,100,71],[81,59,90,100]], int)
a

array([[  1,   2,   3,   4],
       [ 46,  99, 100,  71],
       [ 81,  59,  90, 100]])

In [198]:
a.sort(axis=1)
a

array([[  1,   2,   3,   4],
       [ 46,  59,  71,  90],
       [ 81,  99, 100, 100]])

7. 주사위를 100번 던지는 가상 실험을 파이썬으로 작성하고, 
던져서 나오는 숫자의 평균을 구하시오.

In [161]:
x = np.random.randint(1,7,100)
x.mean()

3.65

In [162]:
x

array([2, 4, 1, 2, 5, 1, 1, 3, 5, 1, 5, 4, 4, 6, 4, 6, 2, 6, 3, 2, 6, 5,
       1, 5, 6, 4, 4, 6, 3, 5, 3, 5, 3, 5, 5, 1, 5, 3, 3, 2, 1, 5, 5, 2,
       2, 5, 4, 6, 5, 3, 6, 1, 1, 1, 1, 2, 5, 2, 5, 3, 6, 6, 3, 3, 4, 6,
       5, 2, 6, 4, 4, 6, 1, 5, 2, 4, 4, 2, 6, 4, 1, 4, 4, 3, 4, 6, 2, 2,
       6, 5, 2, 4, 5, 1, 4, 6, 1, 3, 1, 6])

8. 가격이 10,000원인 주식이 있다. 이 주식의 일간 수익률(%)은 기댓값이 0%이고 표준편차가 1%
인 표준 정규 분포를 따른다고 하자. 250일 동안의 주가를 무작위로 생성하시오.